.sider
    .inner-menu.bg-success.p-3
        ul.nav.flex-column
            li.nav-item
                a.nav-link.text-white.font-weight-bold(href=`${frefixAdmin}/`) 
                    i.bi.bi-grid 
                    | Tổng quan   
            li.nav-item
                a.nav-link.text-white.font-weight-bold(href=`${frefixAdmin}/products`) 
                    i.bi.bi-box-seam 
                    | Sản Phẩm
            li.nav-item  
                a.nav-link.text-white.font-weight-bold(href=`${frefixAdmin}/dustbin`) 
                    i.bi.bi-trash 
                    | Thùng rác
